.Home {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.HomeContents {
    position: relative;
    padding: 120px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 96px;
    width: 300px;
    z-index: 12;      
    border: 2px solid #000000;
    background: linear-gradient(168.05deg, rgba(165, 232, 154, 0.25) 11.74%, rgba(150, 216, 244, 0.182333) 56.15%, rgba(203, 59, 154, 0.13) 97.98%), url(../images/Mobile\ Background\ Variant\ 1.webp);
    background-size: cover;
}

.HomeContents img {
    width: 168px;
    height: 49px;
}

.Intro {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.Options {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

p {
    font-size: 14px;
    margin: 0;
}

span {
    display: flex;
    font-size: 20px;
    align-items: center;
    gap: 8px;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

@media (max-width: 500px) {
    .HomeContents {
        width: 100%;
        border: none;
        position: relative;
    }

    span {
        display: none;
    }
}